#cards{
	padding-top: 5em;
}
#navega{
background: #FFF;
border-bottom: 1px solid #666;
}

.card-subtitle{
	margin-bottom: 10px;
}
#titulo1{
	text-align: center;
	padding-top: 100px;
}
.tituloCar{
	text-shadow: 0.1em 0.1em 0.2em #333;
	font-size: 18px;
}

.parCar{
	text-shadow: 0.1em 0.1em 0.2em #333;
	font-size: 14px;
}

.card-img-top{
	width: 150px;
	height: auto;
	align-self: center;
	padding-top: 10px;
}

#carouselSite{
	padding-top: 140px;
}

.card{
	margin-bottom: 20px;
}