#cards{
	padding-top: 5em;
}
#navega{
	background-color: #FFF";
}

.card-subtitle{
	margin-bottom: 10px;
}
#titulo1{
	text-align: center;
	padding-top: 100px;
}
.tituloCar{
	text-shadow: 0.1em 0.1em 0.2em #333;
}

.parCar{
	text-shadow: 0.1em 0.1em 0.2em #333;
}
